
.root-node {
  fill: turquoise !important;
}

.splash-screen-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
}

.splash-screen-svg {
  position: absolute;
  top: 19%;
  left: 25%;
  width: 50%;
  height: 56%;
  flex-grow: 1;
  enable-background: "new 0 0 324.8 150";
}


.splash-screen-caption {
  top: 74%;
  width: 30%;
  left: 35%;
  position: absolute;
  text-align: center;
  animation: 3s ease-in 0s 1 splash-caption-animation;
  color: turquoise;
}

.splash-screen-description {
  top: 80%;
  width: 60%;
  left: 20%;
  position: absolute;
  text-align: center;
  color: var(--bg);
  animation: 4s ease-in 0s 1 splash-description-animation;
}

.splash-screen-icon-animation {
  top: 90%;
  left: 50%;
  position: absolute;
  color: turquoise;
  background-color: transparent;
  opacity: 1;
  animation: 3s infinite pop;
}


@keyframes splash-caption-animation {
  0% {
    color: var(--dark-blue);
  }

  70% {
    color: turquoise;
  }  

  100% {
    color: turquoise;
  }
}

@keyframes splash-description-animation {
  0% {
    color: var(--dark-blue);
  }

  30% {
    color: var(--dark-blue)
  }

  100% {
    color: var(--bg);
  }
}

@keyframes splash-screen-icon-animation {
  0% {
    color: var(--bg);
  }

  100% {
    color: #FFA500;
  }
}

@keyframes pop {
  0% {
    color: var(--dark-blue);
  }

  50% {
    color: turquoise;
  }

  100% {
    color: var(--dark-blue);
  }
}

.pop {
  background-color: #FFA500;
  opacity: 1;
  animation: pop 3s infinite;
}
