.range-filter {
  width: 100%;
  height: calc(var(--navigation-height) - 2px);
}

.range-filter rect.context-window {
  fill: transparent;
  stroke: var(--navigation-borders);
  stroke-width: 1px;
}

.overlay {
  fill: var(--dark-blue);
}

.range-filter rect.selection {
  fill: var(--cool-bg);
  stroke: none;
  fill-opacity: 1;
}

.range-filter text.info {
  fill: var(--navigation-borders);
  font-weight: bold;
}
