
.territory-legend-panel {
  background-color : var(--bg);
    bottom: var(--navigation-height);
  z-index : 2;
  display : flex;
  flex-direction : row;
  flex-wrap : nowrap;
    transition: all 0.35s ease;
  justify-content : space-around;
}



.legend-block img {
  height : 118px;
  width : auto;
}
