
.sliding-panel { 
  background-color : white;
  position : absolute;
  transition: left 0.5s;
  height: calc(100% - var(--navigation-height));
  width : 60%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
/*
.sliding-panel-open {  
  width : 40%;
}

.sliding-panel-closed {
  width : 15%;
}
*/