
.sliding-panel { 
  position : absolute;
  transition: right 0.5s;
  height: 100%;
  width : 40%;
  border-left: 1px solid black;
}
/*
.sliding-panel-open {  
  width : 40%;
}

.sliding-panel-closed {
  width : 15%;
}
*/