.territory-space-main-options-subpanel {
  background-color: white;
  grid-column: 11 / span 7;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.territory-space-main-options-subpanel *{
  width: 31.5%;
  margin-right:0.5em;
  margin-bottom:0.5em;
}

.territory-space-main-options-subpanel .radio-button-down, .territory-space-main-options-subpanel .radio-button-up{
  display:grid;
  outline:1px solid black;
}


.categories-panel *{
    width:33.3%;
  }
