

::-webkit-scrollbar {
    display: none; /* chrome */
}

.grid-with-scrollable-left-column {
  display : grid;
  grid-template-rows : 1fr;
  grid-template-columns : 1fr 1fr;
  overflow:hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  position : fixed;
}

.scrollable-column {
  overflow-y : scroll;
/*  height : 85%; */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.unscrollable-column {
  left: 130%;
    padding: 7em 4em 4em 8em;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
