
.radio-button-with-close-up {
  background-color : white;
  outline: 1px solid black;
  padding:0.6em 0.6em 0.6em 0.6em;
  width:100%;
  display: flex;
  text-align: center;
  cursor : pointer;
}

.radio-button-with-close-down {
  background-color : black;
  outline: 1px solid black;
  color:white;
  padding:0.6em 0.6em 0.6em 0.6em;
  width:100%;
  display: flex;
  text-align: center;
  cursor : pointer;
}

.close-button-wrapper {
  padding-left : 20px;
}