
#main--shape #type-button {
  text-align: right;
}

#main--shape #type-button button {
  background: var(--bg);
  border: 1px solid var(--text-color);
  text-transform: uppercase;
  padding: 0.5em 1em;
  transition: 0.3s ease;
}

#main--shape .divided {
  background: var(--text-color) !important;
  color: var(--bg);
}

#main--shape .viz--info #type-button button:hover {
  cursor: pointer;
}

.sticky-element {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 60px;
}
