
.intro-link {
  background-color: white;
  color: white;
  opacity: .8;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6px;
  cursor: not-allowed;
}

.intro-link:hover {
  opacity: 1;
}