.the-header {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  border-top: var(--app-border-top) solid var(--calvino-red);
  height: var(--header-height);
}

.the-header > * {
  padding: 0 15px;
  border-bottom: 1px solid var(--dark-green);
  height: 100%;
  box-sizing: border-box;
}

.the-header > *:not(:last-child) {
  border-right: 1px solid var(--dark-green);
}
