.faded {
  opacity: .2 !important;
}

/* .tick > text {
  display: none;
} */

.x-axis .tick:not(:nth-of-type(5n)):not(:first-of-type) > text {
  display: none;
}

/* .sub-node {
  stroke: black;
} */
