.faded {
  opacity: .2 !important;
}

/* .tick > text {
  display: none;
} */

.x-axis .tick:not(:nth-of-type(5n)):not(:first-of-type) > text {
  display: none;
}

.reset-rect {
  fill: transparent;
}

.label.make-visible {
  display: block !important;
}

.node {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.presumed {
  pointer-events: none;
}

.tick.selected {
  font-weight: bold;
}

.label.selected {
  display: block !important;
  /* opacity: 1 !important; */
  fill: #333;
  font-weight: 300;
}

.there-is-selection .node {
  opacity: 0.25;
}

.node.selected {
  opacity: 1 !important;
}
