.MiniInfoBox {
  height: 20px;
}
.MiniInfoBox > .MiniInfoBox-start {
  display: inline-block;
  border: 2px solid var(--dark-blue);
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: #FFF;

}
.MiniInfoBox > .MiniInfoBox-end {
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  display: inline-block;
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #FFF;
}