.options-container {

}

.options-container > .dropdown {
  width: 100%;
  height: 100%;
}

.options-container > .dropdown > button {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.dropdown-toggle::after {
  content: none;
}

.micro-title {
  font-size: 0.5rem;
  display: block;
}

.current-selection {

}

.dropdown-menu {
  width: 100%;
}
