
.territory-button-grid {
  display : grid;
  grid-column: 1 / span 3;
  border-right:1px solid black;
  font-size:1.3em;
  text-align: center;
}

.territory-itineraries-panel{
  display: grid;
  grid-template-columns : repeat(24,1fr);
}


.territory-button-grid .radio-button-up{
    outline:1px solid black;
}
