
.territory-itineraries-panel {
  background-color : white;
  height: 40%;
  width : 96%;
  z-index : 2;
  display : grid;
  grid-template-columns : 3fr 27fr 1fr;
}

.territory-button-grid {
  display : grid;
  grid-template-rows : 1fr 1fr 1fr 1fr 1fr;
}
