::-webkit-scrollbar {
  display: none;
  /* chrome */
}

#mainGrid {
  border-right: var(--app-border);
  padding: 7em 4em 13em 8em;
  position: fixed;
  height: 100%;
  overflow: scroll;
}

.unscrollable-column {
  left: 130%;
    padding: 7em 4em 4em 8em;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.itineraries-block {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  position: fixed;
  height: 100%;
  overflow: none;
}

#space {
  margin-bottom: 2em;
}

#doubt {
  margin-bottom: 2em;
}

#shape {
  margin-bottom: 2em;
}
