
.territory-no-analysis-drop-down {
  background-color : white;
/*  outline: 1px solid black; */
  position : fixed;
  left : 33.33%;
  top: var(--navigation-height);
  width : 29.13%;
  height: calc(var(--navigation-height)*2);
  z-index : 20;
  display : grid;
  grid-column : 1 / span 3;
  border-right : 1px solid black;
  border-left : 1px solid black;
  border-bottom : 1px solid black;
  font-size : 1.3em;
  text-align : center;
}