
.category-intro-grid {
  display: grid;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-columns: 1fr;
}

.category-intro-block-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  padding: 7em 4em 2em 8em;
  border-bottom:1px solid black;
}

.category-intro-main-block {
  display: flex;
  flex-direction: column;
}

.category-subentries-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
    padding: 2em 4em 4em 0em;;
  grid-column-gap: 4em;
  border-right:var(--app-border);

}

.other-phases-subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  float: right;
}

.current-phase-subheader {
  float: left;
  height: 50px;
}

.process{
  position:fixed;
}

.category-entry-block {
  grid-template-rows : 1fr 1fr 1fr;
  grid-template-columns : 2fr;
  max-width: 100%;
  padding: 2em 4em 4em 0em;
  border-right:var(--app-border);

}

.title-category{
  margin-top:0.5em;
}
