

.territory-bottom-panel {
  background-color : white;
  outline: 1px solid black;
  position : fixed;
  bottom: var(--navigation-height);
  width : 100%;
  height: calc(var(--navigation-height)*3);
  z-index : 2;
  display : grid;
}
