
/*
.territory-bottom-panel {
  background-color : white;
  position : absolute;
  top: 70%;
  height: 40%;
  width : 100%;
  z-index : 2;
  display : grid;
  grid-template-columns : 3fr 27fr 1fr;
}
*/
/*
.territory-button-grid {
  display : grid;
  grid-template-rows : 1fr 1fr 1fr;
}
*/

.territory-bottom-panel {
  background-color : white;
  border-top : solid;
  border-top-color : black;
  padding-top : 1px;
  position : absolute;
  width : 100%;
  top : 70%;
  z-index : 2;
  display : flex;
  flex-direction : row;
  flex-wrap : nowrap;
/*  justify-content : flex-start; */
}

.side-container {
  width : 2%;
  margin : 10px;
  display : flex;
  flex-direction : column;
  justify-content : flex-start;
}