
.nav-menu-cell-grid {
  background-color:#FFA500;
  display : grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding:100px;
  border-top:var(--app-border);
}

.nav-menu-cell h2{
  color:black;
  transition: color 0.5s ease;

}

.nav-menu-cell h2:hover{
  color:var(--dark-blue);
}
