
.nav-menu-cell-grid {
  background-color:var(--cool-bg-bg);
  display : grid;
  grid-template-rows : 1fr 1fr 1fr 1fr;
  padding : 100px;
  border-top:var(--app-border);
  transition: background-color 0.5s ease;
}

.nav-menu-cell h2:hover {
  margin: 0;
  white-space: nowrap;
  font-size: 1.8em;
  transition: color 0.5s ease;
  color: var(--dark-blue);
}
