.back-from-main-menu {
  background-color: white;
  opacity: .8;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
}

.back-from-main-menu:hover {
  opacity: 1;
}