
.hamburger-menu-container {
  position:relative;
  height: 100vh;
  overflow-y: hidden;
}

.hamburger-menu {
  display : grid;
  grid-template-rows : 1fr;
  grid-template-columns : 2fr 4fr;
  border-left: 1px solid black;
  height: calc(100vh - var(--navigation-height));
}

.hamburger-menu-sidebar {
  display : grid;
  grid-template-rows : 0.375fr 0.625fr;
  grid-template-columns : 1fr;
  border-bottom:var(--app-border);
  border-right: var(--app-border-bold);
}

.compass-selector-cell {
  display:flex;
  align-items: center;
  justify-content: left;
  padding-left : 100px;
}

a .compass-selector-cell  {
  margin: 0;
  var(--bg)-space: nowrap;
  font-size: 1.8em;
  transition: color 0.5s ease;
  color: black;
}

a:hover .compass-selector-cell  {
  margin: 0;
  var(--bg)-space: nowrap;
  font-size: 1.8em;
  transition: color 0.5s ease;
  color: var(--dark-blue);
}


.hamburger-menu-cell-grid {
  position : relative;
  display : grid;
  grid-template-rows : 1fr 1fr 1fr 1fr;
  grid-template-columns : 1fr 1fr 1fr 1fr;
}

.hamburger-menu-cell {
  border-bottom : var(--app-border);
  border-right :var(--app-border);
  justify-content: center;
  text-align : center;
  align-items: center;
  display:flex;
  background-repeat : no-repeat;
}

.hamburger-menu-cell-grid :hover {
  color:var(--dark-blue);
  transition: color 0.5s ease;
}

@keyframes tint { /* flame pulses */
  0%   { background-color:var(--bg);}
  100% { background-color:var(--cool-bg-bg);}
}
.tint {
    background-color: var(--dark-blue);
    opacity:1;
    animation: tint 2s;
}
