
.hamburger-menu-container {
  position:relative;
  height: 100vh;
}

.hamburger-menu {
  display : grid;
  grid-template-rows : 1fr;
  grid-template-columns : 2fr 4fr;
  height: calc(100vh - var(--navigation-height));
}

.hamburger-menu-sidebar {
  display : grid;
  grid-template-rows : 0.375fr 0.625fr;
  grid-template-columns : 1fr;
  border-bottom:var(--app-border);
  border-right: var(--app-border);
}

.compass-selector-cell {
  display:flex;
  align-items: center;
  justify-content: left;
  padding-left : 100px;
  border-bottom : var(--app-border);
  text-align : left;
}

a .compass-selector-cell  {
  margin: 0;
  white-space: nowrap;
  font-size: 1.8em;
  transition: color 0.5s ease;
  color: black;
}

.hamburger-menu-cell-grid {
  position : relative;
  display : grid;
  grid-template-rows : 1fr 1fr 1fr 1fr;
  grid-template-columns : 1fr 1fr 1fr 1fr;
}

.hamburger-menu-cell {
  border-bottom : var(--app-border);
  border-right :var(--app-border);
  display: flex;
  align-items : center;
  justify-content: center;
}

.hamburger-menu-cell-grid :hover {
  background-color:var(--dark-blue);;
  color:white;
  transition: color 1s ease;
}
