.hamburger-menu {
  display : grid;
  grid-template-rows : 1fr;
  grid-template-columns : 2fr 4fr;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.hamburger-menu-sidebar {
  display : grid;
  grid-template-rows : 1fr 2fr;
  grid-template-columns : 1fr;
}

.hamburger-menu-cell-grid {
  display : grid;
  grid-template-rows : 1fr 1fr 1fr 1fr;
  grid-template-columns : 1fr 1fr 1fr 1fr;
}

.hamburger-menu-cell {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  padding: 10px;
}

.hamburger-menu-cell-11 {
  grid-row: 1 / 2;
  grid-column: 1 / span 1;
}

.hamburger-menu-cell-12 {
  grid-row: 1 / 2;
  grid-column: 2 / span 1;
}

.hamburger-menu-cell-13 {
  grid-row: 1 / 2;
  grid-column: 3 / span 1;
}

.hamburger-menu-cell-14 {
  grid-row: 1 / 2;
  grid-column: 4 / span 1;
}

.hamburger-menu-cell-21 {
  grid-row: 2 / 3;
  grid-column: 1 / span 1;
}

.hamburger-menu-cell-22 {
  grid-row: 2 / 3;
  grid-column: 2 / span 1;
}

.hamburger-menu-cell-23 {
  grid-row: 2 / 3;
  grid-column: 3 / span 1;
}

.hamburger-menu-cell-24 {
  grid-row: 2 / 3;
  grid-column: 4 / span 1;
}

.hamburger-menu-cell-31 {
  grid-row: 3 / 4;
  grid-column: 1 / span 1;
}

.hamburger-menu-cell-32 {
  grid-row: 3 / 4;
  grid-column: 2 / span 1;
}

.hamburger-menu-cell-33 {
  grid-row: 3 / 4;
  grid-column: 3 / span 1;
}

.hamburger-menu-cell-34 {
  grid-row: 3 / 4;
  grid-column: 4 / span 1;
}

.hamburger-menu-cell-41 {
  grid-row: 4 / 5;
  grid-column: 1 / span 1;
}

.hamburger-menu-cell-42 {
  grid-row: 4 / 5;
  grid-column: 2 / span 1;
}

.hamburger-menu-cell-43 {
  grid-row: 4 / 5;
  grid-column: 3 / span 1;
}

.hamburger-menu-cell-44 {
  grid-row: 4 / 5;
  grid-column: 4 / span 1;
}
