
.radio-button-up {
  background-color : var(--bg);
  padding:0.6em;
  width:100%;
  display: flex;
  border: 1px solid;
  text-align: center !important;
  cursor : pointer;
  border-bottom:1px solid black;
}

.radio-button-down {
  text-align: center !important;
  background-color: black;
  color:var(--bg);
  padding:0.6em;
  width:100%;
  display: flex;
  cursor : pointer;
}

.radio-button-drop-up {
  background-color : white;
  padding:0.6em;
  width:100%;
  display: flex;
  border-top: 1px solid;
  border-right: 1px solid black;
  text-align: center !important;
  cursor : pointer;
  font-size: 1em;
}
