
.radio-button-up {
  background-color : white;
  padding:0.6em;
  width:100%;
  display: flex;
  border: 1px solid;
  text-align: center !important;

}

.radio-button-down {
  text-align: center !important;
  background-color: black;
  color:white;
  padding:0.6em;
  width:100%;
  display: flex;
}
