

.category-intro-grid {
  display: grid;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-columns: 1fr;
}

.category-intro-block-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  padding: 5em 4em 4em 8em;
  border-bottom:1px solid black;
}

.category-intro-main-block {
  display: flex;
  flex-direction: column;
}

.category-subentries-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0em 0em 2em 8em;
  grid-column-gap: 4em;
}

.other-phases-subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  float: right;
}

.current-phase-subheader {
  float: left;
  height: 50px;
}

.problem{
  position:fixed;
}
