
.phenomena-intro-grid {
  display : grid;
  grid-template-rows : 1fr;
  grid-template-columns : 2fr 1fr;
  height: 100%
}

.itineraries-subgrid {
  display : grid;
  grid-template-rows : 1fr 1fr 1fr;
  grid-template-columns : 1fr;
}

.subheaders-container {
  display : grid;
  grid-template-columns : 1fr 1fr;
  height: 80px;
}

.current-phase-subheader {
  float: left;
  height: 50px;
}
