.territory-percentage-panel {
  grid-column: 18 / span 7;
  display: flex;
  flex-wrap: wrap;
  margin-left: 2em;
}

.territory-percentage-panel .radio-button-down, .territory-percentage-panel .radio-button-up {
  display: grid;
  outline: 1px solid black;
}

.categories-panel {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.categories-panel * {
  padding-right: 1.2em;
}
