.topAxisRect {
    stroke: #fff;
    stroke-width: 1px;
    fill: #000;
}

.topAxisText{
    font-size: 10px;
}



.marimekkoRect {
    fill:transparent;
    stroke: #ccc;
}

.marimekkoUnit{
    stroke: #222;
    fill: #fff;
}