.topAxisRect {
    stroke: #fff;
    stroke-width: 1px;
    fill: #000;
}

.topAxisText{
    font-size: 10px;
}

.marimekkoRect {
    fill:transparent;
    stroke: #222;
}

.marimekkoUnit{
    stroke: #fff;
    stroke-width: 0.2;
}

.withLegendItemSelected .marimekkoRect {
    opacity: 0.5;
    stroke-opacity: 0.5;
}

.withLegendItemSelected .marimekkoRect.selected {
    opacity: 1 !important;
    stroke-opacity: 1 !important;
}


.legendGroupText{
    font-size: 14px;
}



.legendEntryColor{
    height: 10px;
    width: 30px;
    border-radius: 3px;
    margin-right: 6px;
}

.legendItemsSelected .legendEntryColor{
    opacity: 0.5;
}

.legendItemsSelected .selected .legendEntryColor{
    opacity: 1;
}

.legendEntryText{
    font-size: 12px;
}