.territory-shape-main-options-subpanel {
  background-color: white;
  grid-column: 11 / span 7;
}

.categories-panel-shape {
  display: flex;
  margin-bottom: 1.2em;
}

.categories-panel-shape * {
  width: 100px;;
}

.territory-shape-main-options-subpanel *{
  margin-top: 0.5em
}

.territory-shape-main-options-subpanel .radio-button-down, .territory-shape-main-options-subpanel .radio-button-up {
  display: grid;
  width: 50%;
}
