
.scrollable-column-2 {
  border-right:var(--app-border);
  padding:7em 4em 13em 8em;
  position: fixed;
    width: auto;
    height: 100%;
    overflow: scroll;/* Firefox */
}

.scrollable-column {
  padding:7em 4em 13em 8em;
  position: fixed;
    width: auto;
    height: 100%;
    overflow: scroll;/* Firefox */
}
