.scrollable-column-2 {
  border-right: var(--app-border);
  padding: 7em 4em 13em 8em;
  position: fixed;
  height: 100%;
  overflow: scroll;
}

.scrollable-column {
  border-right: var(--app-border);
  grid-column: 1fr;
  padding: 7em 4em 13em 8em;
  overflow: scroll;
  /* Firefox */
}
