
:root {
  --help-side-panel-width : 30vw;
}

.help-side-panel {
  padding:4em;
  border:1px solid black;
  position : fixed;
  top : 0px;
  max-height : 100%;
  width : var(--help-side-panel-width);
  background-color : var(--bg);
  z-index : 10001; /* to overcome z-index=10000 of 'navigations' style */
  transition: right 1s;
  overflow-y: scroll;
}

.help-side-panel-open {
  right : 0vw;
}

.help-side-panel-closed {
  right : -30vw
}
