
:root {
  --help-side-panel-width : 30vw;
}

.help-side-panel {
  position : absolute;
  top : 0px;
  height : 100%;
  width : var(--help-side-panel-width);  
  background-color : yellow;
  z-index : 10001; /* to overcome z-index=10000 of 'navigations' style */
  transition: right 1s;
}

.help-side-panel-open {
  right : 0vw;
}

.help-side-panel-closed {
  right : -30vw
}