/* common CSS */
:root {
  --calvino-red: tomato;
  --dark-green: darkslategrey;
  --header-height: 66px;
  --app-border-top: 6px;
  font-size: 14px;
  font-family: sans-serif;
}

h5 {
  margin: 0;
  white-space: nowrap;
}
