/* common CSS */
:root {
  --bg:#FBFBFC;
  --calvino-red: tomato;
  --dark-green: black;
  --cool-bg-bg: #F3F1EC;
  --cool-bg:#F1F1F5;
  --dark-blue: #5151FC;
  --header-height: 66px;
  --navigation-height: 58px;
  --navigation-height-by-2: calc(var(--navigation-height) * 2);
  --app-border-top: 6px;
  --navigation-borders: black;
  --text-color: black;
  --app-border:1px solid black;
  --app-border-bold:2px solid black;
  --button-border:2px solid var(--dark-blue);
  font-size: 14px;
  font-family: 'HKGrotesk', sans-serif;
}

title{
  text-transform: uppercase;
}

.col-lg-8{
  padding-left:0px;
}

/* ELEMENTI COMUNI */
a {
  text-decoration: none;
  color: var(--text-color);
}

.link {
  color: var(--dark-blue);
}

a.link:hover {
  color: black;
}


p {
font-size: 1.4em;
line-height: 1.4em;
}


p.intro {
font-size: 1.7em;
line-height: 1.5em;
}


strong{
  font-weight: 600;
}

::selection{
  color:var(--bg);
  background-color: var(--dark-blue);
}

a:hover {
  text-decoration: none;
  color: var(--dark-blue);
  transition: color 1s ease;
}


a:focus {
  text-decoration: underline;
  color: var(--dark-blue);
  transition: color 0.5s ease;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family:"HKGrotesk", sans-serif;}



h1 {
  margin: 0;
  white-space: nowrap;
  font-size: 2.4em;
  color: var(--text-color);
  margin-bottom:1em;

}

h2 {
  margin: 0;
  white-space: nowrap;
  font-size: 1.8em;
  color: black;
}

h3 {
  margin: 0;
  white-space: nowrap;
  font-size: 1.5em;
  color: black;
}

h4 {
  margin: 0;
  white-space: nowrap;
  font-size: 1.3em;
  color: black;
}

h5 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 100;
  white-space: nowrap;
  color: black;
  line-height: 1.4em;
}

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

ul {
list-style-type: none;
padding-left: 0px;
}

li {
margin-bottom:0.5em;
margin-top:0.5em;
padding-left: 0px;
font-size:1.1em;
}


.navigations {
  border: 2px solid var(--navigation-borders);
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  height: var(--navigation-height);
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  z-index: 10000;
  position: fixed;
}

.navigations>*:not(:last-child) {
  border-right: 1px solid var(--navigation-borders);
}

.navigations>div {
  max-height: 100%;
  display: flex;
  align-items: center;
}

.page-title, .options-container>.dropdown>button, .search-component {
  padding: 0 10px;
}

.navigations>div svg {}

.top-nav {
  position: sticky;
  background-color: white;
  top: 0;
}

.the-body-viz {
  height: calc(100vh - var(--navigation-height-by-2));
  display: flex;
}

.bottom-nav {
  position: fixed;
  background-color: white;
  bottom: 0;
}

.viz-title {
  text-transform: uppercase;
  font-size: 1.2857142857rem;
}

.pubblication-item {
  margin-bottom: 4rem;
}
.pubblication-abstract {
  margin-top: 1rem;
}

/*BUTTON*/


.button-text{
  border:var(--button-border);
  margin-top:3em;
  padding:0.5em 1.3em 0.5em 1.3em;
  font-size: 1.2em;
  font-weight: 500;
  color:var(--dark-blue);
  text-transform: uppercase;
  transition: color 1s ease;
  font-family:"HKGrotesk";
  text-decoration: none;
}

a.button-text, a:visited.button-text{
  text-decoration: none;
}

/* BOTTONI DELLE VIZ */

.btn-primary{
  font-weight: 600;
}



/* FOOTER */
footer {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width:100%;
  font-size: 0.7em;
  padding:1.5em;
  height: var(--navigation-height);
}

#loghi {
  overflow-y: hidden;
}

#logo-unige {
  width: 100%;
}

#logo-polimi {
  width: 82%;
}

#logo-dd {
  width: 30%;
}



/* a {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--dark-blue);
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--dark-blue);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
} */
