
.toggle-button {
  display : flex;
  justify-content : center;
  align-items : center;
}

.toggle-button-up {
  color : black;
  background-color : transparent;
  border-right-color : black;
}

.toggle-button-down {
  color : var(--bg);
  background-color : black;
  border-right-color : var(--bg);
}
