.atlas-intro {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 4fr;
  border-top: 1px solid black;
  border-left: 1px solid black;
  height: calc(100vh - var(--header-height));
  font-family: 'HK Grotesk';
}

.atlas-intro-scrollable {
  display: grid;
  position: absolute;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 4fr;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height: calc(2 * (100vh - var(--header-height)));
  font-family: 'HK Grotesk';
}

.atlas-intro-sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.atlas-intro-sidebar2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  height: calc(2 * (100vh - var(--header-height)));  
}

.atlas-intro-sidebar-monoblock {
  background: white;
  position: relative;
  width: 100%;
}

.atlas-intro-cell-grid {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.atlas-intro-cell {
  padding-top : calc(50% - 3em);
  border-bottom : 1px solid black;
  border-right : 1px solid black;
  text-align : center;
}

