.atlas-intro {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 4fr;
  height: calc(100vh - var(--navigation-height));
}

.atlas-intro-scrollable {
  display: grid;
  position: absolute;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 4fr;
  width: 100%;
  height: calc(2 * (100vh - var(--navigation-height)));
}

.atlas-intro-sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.atlas-intro-sidebar2 {
  display: grid;
  grid-template-rows: 1fr 0.375fr 0.625fr;
  grid-template-columns: 1fr;
  height: calc(2 * (100vh - var(--navigation-height)));
  position: relative;
  background: var(--cool-bg);
}

.atlas-intro-sidebar3 {
  display: grid;
  grid-template-rows: 0.375fr 0.625fr 0.625fr;
  grid-template-columns: 1fr;
  height: calc(1.5 * (100vh - var(--navigation-height)));
  position: relative;
}

.atlas-intro-sidebar4 {
  display: grid;
  grid-template-rows: 0.375fr 0.625fr;
  grid-template-columns: 1fr;
  height: calc(100vh - var(--navigation-height));
  position: relative;
  transition: 1s ease;}

.atlas-intro-row-grid {
  position: relative;
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
  transition: 1s ease;
}

.atlas-intro-scrolling-cell-grid {
  position: relative;
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.atlas-intro-sidebar-monoblock {
  background: var(--cool-bg);
  position:relative;
  width: 100%;
  display:grid;
  padding: 100px;
}

h2 {
margin-bottom:0px !important;
}

.atlas-intro-sidebar-monoblock-2 {
  background: var(--cool-bg);
/* background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(255,193,7,1) 100%); */
  position:relative;
  width: 100%;
  padding-left:100px;
  padding-top:100px;
  padding-right:50px;
  padding-bottom:50px;
}

.atlas-intro-cell-grid {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.atlas-intro-cell-grid2 {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-left : 2px solid black;
}

.atlas-intro-cell2 {
  border-top : 1px solid black;
  border-right : 1px solid black;
  justify-content: center;
  text-align : center;
  align-items: center;
  display:flex;
}

image .atlas-intro-cell2 {
  height:20%;
}

h5{
  opacity:1;
}

.atlas-intro-cell3 {
  border-right:2px solid black;
  justify-content: center;
  text-align : center;
  align-items: center;
  display:flex;
}

h2{
  margin-bottom:2em;
}




 /* @keyframes pop { /* flame pulses */
    /* 0%   { background-color:var(--bg);}
    50%  { background-color: var(--dark-blue);}
    100% { background-color:var(--bg);}
  }  */
  /* .pop {
      background-color: var(--dark-blue);
      opacity:1;
      animation: pop 3s infinite;
  } */

/*
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  50% {
    opacity:0.5;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  50% {
    opacity:0.5;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  50% {
    opacity:0.5;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  50% {
    opacity:0.5;
  }
  100% {
    opacity:1;
  }
} */
