.atlas-intro {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 4fr;
  border-left: 1px solid black;
  height: calc(100vh - var(--header-height));
  font-family: 'HK Grotesk';
}

.atlas-intro-scrollable {
  display: grid;
  position: absolute;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 4fr;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  height: calc(2 * (100vh - var(--header-height)));
}

.atlas-intro-sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.atlas-intro-sidebar2 {
  display: grid;
  grid-template-rows: 1fr 0.375fr 0.625fr;
  grid-template-columns: 1fr;
  border-bottom: 1px solid black;
  height: calc(2 * (100vh - var(--header-height)));
  position: relative;
}

.atlas-intro-sidebar3 {
  display: grid;
  grid-template-rows: 0.375fr 0.625fr 0.625fr;
  grid-template-columns: 1fr;
  border-bottom: 1px solid black;
  height: calc(1.5 * (100vh - var(--header-height)));
  position: relative;
}

.atlas-intro-sidebar4 {
  display: grid;
  grid-template-rows: 0.375fr 0.625fr;
  grid-template-columns: 1fr;
  border-bottom: 1px solid black;
  height: calc(100vh - var(--header-height));
  position: relative;
}

/*
grid-template-rows:
one empty page (4fr, to be scrolled up), then the populated page, with 1 empty row (column headers), then three populated rows
*/
.atlas-intro-row-grid {
  position: relative;
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
}

.atlas-intro-scrolling-cell-grid {
  position: relative;
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.atlas-intro-table-horizontal-row {
  border-top: var(--app-border);
}

.atlas-intro-sidebar-monoblock {
  background-color:var(--light-blue);
  display : grid;
  padding : 100px;
}

.atlas-intro-cell-grid {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.atlas-intro-cell {
  padding-top : calc(50% - 3em);
  border-bottom : 1px solid red;
  border-right : 1px solid red;
  text-align : left;
  display:flex;
  justify-content: center;
}

.atlas-intro-cell-grid2 {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.atlas-intro-cell2 {
  padding-top : calc(50% - 3em);
  border-bottom : 1px solid black;
  border-right : 1px solid black;
  text-align : center;
}
